<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      htpp-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    <meta
      name="description"
      content="Default landing page for template Express JS Server"
    />
    <meta
      name="author"
      content="Micheal Ogden"
    />
    <meta
      name="keywords"
      content="Express JS, Node JS, Server, Template, Landing Page"
    />
    <meta
      name="robots"
      content="index, follow"
    />
    <title><%= title %></title>
    
    <link
      rel="stylesheet"
      href="./style.css"
    />
  </head>


  <body id="bio">

    <nav id="navbar">
      <ul id="nav-group">
        <li class="nav-item"><a class="nav-item-link" href="/">Wides</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/bio">Bio</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/work">Gallery</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/contact">Contact</a></li>
      </ul>
    </nav>

    

   <section id="bio-display">
    <div id="hero-overlay"></div>
    <div id="half-circle-effect">
        
    </div>
    <h1>My Story</h1>
    
    <div class="bio-container">
        <div class="img-container">
            <img class="bio-img" src="./assets/meinava.jpg" alt="Mike walking by a creek in Ava, MO">
            <img class="bio-img" src="./assets/bidnessguit.jpg" alt="Mike in dress shirt and flying v guitar">
        </div>
        
            <p class="bio-text">Throughout my journey, I have pursued a multitude of experiences to 
                acquire a wide array of skills, all in pursuit of my lifelong goal of entrepreneurship. 
                I have faced and overcome numerous trials and challenges, learning valuable lessons along the 
                way. These experiences have instilled in me the confidence to know that I can learn anything and 
                perform effectively in any field.</p>
    </div>
        <h2 id="skills" class="bio-small">Despite my broad skill set, I have developed particular expertise in a few key areas:</h2>
        
        
            
            <h3 style="margin-top: 125px;" class="bio-sub">Web Development Skills</h3>
            <div id="brand-list">
                <i class="fa-brands fa-node brands"></i>
        <i class="fa-solid fa-code-branch brands"></i>
        <i class="fa-brands fa-bootstrap brands"></i>
        <i class="fa-brands fa-react brands"></i>
        <i class="fa-brands fa-python brands"></i>
            </div>
            <p class="bio-text">
                I have acquired a comprehensive set of web development skills through self directed study and personal projects. My proficiency 
                includes front-end technologies such as HTML, CSS, and JavaScript, along with experience using popular frameworks and libraries like 
                React and Bootstrap. On the back end, I am most skilled in server-side programming with Node.js and Express, as well as some familiarity with Python. I 
                have a solid understanding of database management using MySQL and MongoDB. Additionally, I am adept at creating responsive and user-friendly web applications, 
                ensuring a seamless user experience across various devices and platforms. 
            </p>
            <h3 class="bio-sub">Technical Ability</h3>
            <p class="bio-text">
                As an electrician, I mastered wiring fundamentals and the principles of electricity transmission and storage. In the army, I 
                specialized in analog and digital communication technologies, with a focus on RF Networks, and developed intermediate-level 
                computer skills and troubleshooting techniques. My technical knowledge expanded through personal study and practice in web app 
                development.
            </p>

            <div id="cta-container">
                <h2>Are you looking for help with your next project?</h2>
                <a href="/contact" id="contact-button">Contact Now!</a>
            </div>
        

        <div class="img-container">
            <img src="../assets/bears6.jpg" alt="Mike in greyscale" class="bio-img">
            <img class="bio-img" src="../assets/legion5.jpg" alt="mike playing guitar at The Marked in PB MO">
            <img class="bio-img" src="../assets/marked123024-D.jpg" alt="Mike on the truck">
        </div>

        <h3 class="bio-sub">Salesmanship</h3>
        <p class="bio-text">
            My journey in sales began as a teenager, honed through frontline customer interactions and attending an 
            evangelical church. This foundation was further refined through years of customer service and specific job responsibilities. 
            My selling ability has been indispensable in every role I have undertaken, enabling me to excel in various environments.
        </p>

        
        
        

        <h3 class="bio-sub">Class A CDL</h3>
        <p class="bio-text">
            With twelve years of over-the-road (OTR) experience, I have traversed all 48 continental US states and parts of Canada, driving through 
            diverse terrains and weather conditions without any accidents. I have handled various types of trailers, including reefers, box, flatbed, 
            RGN, lowboy, and grain hoppers, often transporting over-dimensional loads. This experience has also cultivated a strong ability to work 
            independently with minimal supervision.

        </p>

        <div class="img-container">
            <img src="../assets/mikehead-A.jpg" alt="Mike staring at camera" class="bio-img">
        </div>

        <p class="bio-text">
            I am confident that I would be an asset to any company. I bring an advanced understanding of interpersonal relations and sales, a robust 
            ability to operate in highly technical fields, and a work ethic that ensures tasks are completed ahead of schedule. Thank you for stopping by!
        </p>
   </section>

   <div class="img-container">
        <img src="../assets/fbprofilegrey.jpg" alt="Mike in greyscale" class="bio-img">
        <img class="bio-img" src="../assets/marked123024-C.jpg" alt="mike playing guitar at The Marked in PB MO">
        <img class="bio-img" src="../assets/20220923_121847.jpg" alt="Mike on the truck">
   </div>
   <footer>
    <h5><small>&copy; 2024 <em>Wides🎸 </em></small></h5>
   </footer>

   <script
      type="module"
      src="./main.js"
    ></script>
    <script src="https://kit.fontawesome.com/1b18ad8153.js" crossorigin="anonymous"></script>
  </body>
</html>