<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      htpp-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    <meta
      name="description"
      content="Default landing page for template Express JS Server"
    />
    <meta
      name="author"
      content="Micheal Ogden"
    />
    <meta
      name="keywords"
      content="Express JS, Node JS, Server, Template, Landing Page"
    />
    <meta
      name="robots"
      content="index, follow"
    />
    <title><%= title %></title>
    
    <link
      rel="stylesheet"
      href="./style.css"
    />
  </head>


  <body id="home">

    <nav id="navbar">
      <ul id="nav-group">
        <li class="nav-item"><a class="nav-item-link" href="/">Wides</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/bio">Bio</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/work">Gallery</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/contact">Contact</a></li>
      </ul>
    </nav>

   <div id="img-div"></div>
   <div id="overlay"></div>

    <div id="landing-text-container">
      <h2 style="animation: anitext 2s ease-out 0s 1;" class="landing-text">Self-Taught Developer</h2>
      <h2 style="animation: anitext 2s ease-out 0.25s 1;" class="landing-text">Mediocre Philosopher</h2>
      <h2 style="animation: anitext 2s ease-out 0.5s 1;" class="landing-text">Ugly Bard</h2>
      <h2 style="animation: anitext 2s ease-out 0.75s 1;" class="landing-text">Village Idiot</h2>
      <h2 style="animation: anitext 2s ease-out 1s 1;" class="landing-text">@TechSageOgden - Github</h2>
    </div>

    <script
      type="module"
      src="./main.js"
    ></script>
  </body>
</html>
